*{
    margin: 0;
    padding: 0;
    border: 0;
}
li{
    list-style-type: none;
}


@media screen and (min-width: 768px){
   .header{
        height: 308px;
    }
   .header-wrapper{
       margin-top: 6%;
   }
   .header-paragraph{
       margin-bottom: 5%;
   }
   .job{
       margin-top: 60px;
   }
   .work{
       margin-top: 20px;
   }
   .left-column{
       margin-top: 20px; 
       border-right: 1px solid black;
   }
   .work-wrapper{
       margin-top: 20px;
   }

}
@media screen and (min-width: 969px){
    .job{
        margin-top: -30px; 
    }
}
@media screen and (min-width: 970px){
    .header{
        height: 308px;
    }
    .header-wrapper{
       margin-top: 6%;
   }
   .header-paragraph{
       margin-bottom: 5%;
   }
   .first{
       text-align: right;
       border-right: 1px solid white;
   }
   .second{
       border-right: 1px solid white;
   }
   .third{
       text-align: left;
   }
   .job{
       margin-top: 60px;
   }
   .about-me,
   .my-skills{
       margin-top: 30px;
   }
   .languages{
        margin-top: 70px;
    }
   .work{
       margin-top: 60px;
   }
   .left-column{
       margin-top: 30px; 
       border-right: 1px solid black;
   }
      .work-wrapper{
       margin-top: 50px;
   }
}
   .header{
       background: #353535;
   }
   
   .header-title{
       border: 2px solid #c6a653;
       text-align: center;
       color: white;
       padding: 5px;
       font: 25pt Montserrat light;
       margin: 0 auto;
       
   }
   .header-paragraph{
       margin-top: 5px;
       text-align: center;
       color: white;
       font: 12pt Montserrat light;
   }
   .header-addres__list{
       text-align: center;
       color: white;
       font: 12pt Montserrat light;
   }
   .header-addres__list-item > a{
	color: white;
	text-decoration: none;
   }
   .header-addres__list-item > a:hover{
	text-decoration: none;
   }
   .header-addres__list-item{
       margin-bottom: 15px;
   }
   p{
       font: Montserrat;
   }

   .about-me__title, 
   .my-skills__title, 
   .languages-title,
   .job-title,
   .work-title{
       font: 14pt Montserrat;
       color: #c6a653;
       border-bottom: 1px solid #c6a653;
       padding-bottom: 5px;
   }
   
   .work{
       padding-bottom: 15px;
       
   }

   .my-skills__bar{
       padding-bottom: 2px;
   }

   .work-wrapper-img{
       margin-bottom: 20px;
   }
   .container{
       margin-bottom: 35px;
   }

   footer{
       display: table-cell;
       width: 100%;
       height: 50px;
       background: #353535;
   }
   .footer-text{
       font: 7pt Montserrat light;
       padding-top: 20px;
       color: white;
       text-decoration: none;
   }
   .footer-text:hover{
       text-decoration: none;
       color: #c6a653;
    }
    




