<div class="add-wrapper">
    <div class="add-container">
        <br>
        <br>
        <h1>New Place:</h1>
        <input type="text" name="name" id="newName" class="form-control" placeholder="Enter new name:">
        <br>
        <input type="text" name="address" id="newAddress" class="form-control" placeholder="Enter new address:">
        <br>
        <button id='addAdd' class="btn btn-success">Add</button>
        <a href="#!app" id='addCancel' class='btn btn-danger'>Cancel</a>
    </div>
</div>
<script>
    $('#newAddress').geocomplete();
</script>